# Dev environment
.cpcache/
.nrepl-port
.shadow-cljs/
.dir-locals.el
.clj-kondo/.cache
.lsp/.cache

# Node
node_modules/
package-lock.json

# Build output & assets
target/*
resources/public/assets/js/*
resources/public/assets/css/output.css

# Environment variables
.env
env.edn
