# Dev environment
.cpcache/
.nrepl-port
.shadow-cljs/
.dir-locals.el
.clj-kondo/.cache
.lsp/.cache

# Node
node_modules/
package-lock.json

# Build output & assets
resources/public/assets/js/
resources/public/assets/*.css
resources/public/assets/*.png

# Environment variables
env.edn
